/**
* Project Name		: SmartGirl
* Date				: 07-May-2015
* Developer			: Euk Thona
* Developer URL		: http://glean.net
*/


@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

body {
	color: #fff;
	font-family: "museo-slab", serif;
	font-size: 14px;
	margin: 0;
}
h1 {
	font-family: "museo-sans-rounded",sans-serif;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
}
h2, h3{
	color: d169bd;
	font-family: "museo-sans-rounded",sans-serif;
}
p {
	font-size: 1.5em;
	text-align: left;
}
img {
	width: 100%;
}
.container:nth-child( 2 ) {
	padding: 0;
	width: 100%;
}
.container:nth-child( 6 ) {
	display: none;
}
.row {
	padding: 0;
	margin: 0;
}
.container {
	padding: 0 15px;
}
.logo {
	background: url(../images/mobile1.png) no-repeat;
	background-size: 46px 46px;
	display: block;
	text-decoration: none;
	float: left;
	text-indent: -9999px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	width: 46px;
	padding-bottom: 30px;
}
.homepage {
	display: none;
}
nav {
	background: #ca4ab2;
	box-shadow: 1px 2px 4px #ccc;
	top: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
} 
nav ul {
	background: #ca4ab2;
	display: none;
	top: 76px;
	padding: 0;
	margin: 0;
	position: absolute;
	list-style: none;
	width: 100%;
}
nav ul a {
	color: #fff;
	display: block;
	font-size: 1.5em;
	text-decoration: none;
	padding: 23px 15px;
}
nav ul a:hover {
	background: #d169bd;
	color: #fff;
}
nav ul form {
	  margin-top: 30px;
	  padding-left: 15px;
	  padding-right: 15px;
}
.menu {
	background: #b05a91;
	border-radius: 4px;
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: 15px;
	width: 40px;
	padding: 10px;
}
.menu span {
	background: #fff;
	display: block;
	margin-bottom: 3px;
	height: 3px;
	width: 18px;
}
form {
	margin-bottom: 0;
}
.bast {
	background: url(../images/bast.jpg) no-repeat;
	background-size: cover;
	padding: 78px 15px;
	margin-top: -15px;
	text-align: center;
}
.bast h1 {
	padding-bottom: 20px;
}
.btn {
	background: #ca4ab2;
	color: #fff;
	display: block;
	float: right;
	margin-top: 30px;
}
.samples {
	padding-bottom: 30px;
}
.sample h3 {
	background: red;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 0;
	color: #fff;
	padding-left: 15px;
}
.sample p {
	display: none;
}
.popular {
	margin-top: -35px;
	text-align: center;
}
hr {
	border-top: 3px solid #dadada;
}
h2 span {
  display: inline-block;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  color: #ca4ab2;
  padding: 0 13px;
  position: relative;
}
.gallery ul {
	padding-left: 0;
}
.gallery li {
	list-style: none;
}
.gallery img {
	width: 25%;
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
}
.gallery p {
	color: #ca4ab2;
	width: 65%;
	float: left;
	font-size: 1em;
}
.gallery span {
	color: black;
	width: 65%;
	float: left;
}
.item h2 {
	color: black;
}
.float-left {
	width: 15%;
	float: left;
}
.float-right {
	width: 15%;
	float: right;
}
.item span {
	color: #bab6b9;
}
.item hr {
	width: 50%;
	border-color: #ca4ab2;
	border-style: solid;
	border-width: 5px;
	margin-top: 35px;
	margin-bottom: 15px;
}
.bag img {
	margin-top: 15px;
}
.bag p {
	color: black;
	padding-top: 30px;
	margin: 0;
}
.float {
	float: right;
	width: 70%;
}
.float h3 {
	margin: 0;
	font-size: 1.5em;
}
.float span {
	color: black;
}
.bag button {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.5em;
	margin-bottom: 30px;
}
.subscribe {
	display: none;
}
.social-media, .social {
	display: none;
}
.facebook {
	background: #ccc;
	padding-top: 10px;
	padding-bottom: 10px;
}
.facebook h3 {
	margin: 0;
	text-align: center;
	color: black;
}
.people img {
	width: 18%;
}
.fb {
	width: 50%;
	padding-top: 20px;
}
.sponsors {
	text-align: center;
	padding: 33px 0 31px 0;
}
.sponsors li a{
	text-indent: -9999px;
	display: block;
}
.pepfar, .usaid, .flagship {
	display: inline-block;
}
.pepfar a {
	background: url(../images/pep.jpg) no-repeat;
	background-size: 52px 52px;
	width: 52px;
	height: 52px;
	margin-right: 20px
}
.usaid a {
	background: url(../images/usa.jpg) no-repeat;
	background-size: 58px 52px;
	width: 52px;
	height: 52px;
	margin-right: 20px;
}
.flagship a {
	background: url(../images/flag.jpg) no-repeat;
	background-size: 58px 25px;
	width: 62px;
	height: 52px;
}
.footer {
	background: #ca4ab2;
	padding-top: 40px;
	padding-bottom: 20px;
}
.footer p {
	float: right;
	display: block;
	padding-top: 25px;
	padding-right: 10px;
	font-size: 0.7em;
	margin: 0;
}
.footer img {
	width: 10%;
	float: right;
	padding-top: 23px;
	margin-right: 60px;
}

@media ( min-width: 768px ) {
	
.bast {
	padding: 215px 15px;
}
.btn {
	margin-top: 150px;
}
.img li img {
	width: 10%;
}
.bag button {
	margin-top: 30px;
}
}

@media ( min-width: 992px ) {

.container:nth-child( 6 ), .container:nth-child( 5 ), form {
	display: block;
}
.container:nth-child( 5 ) {
	padding: 0;
}
.homepage {
	background: url(../images/logo.png) no-repeat;
	display: block;
	text-indent: -9999px;
	width: 162px;
	height: 120px;
	padding: 0;
	left: 30px;
	top: 40px;
	position: absolute;
}
.logo {
	display: none;
}
nav ul form { 
	display: none;
}
.menu {
	display: none;
}
nav ul {
	background: #ca4ab2;
	display: block;
	position: static;
	width: auto;
	float: right;
	padding-right: 15px;
}
nav ul a {
font-size: 1em;
}
ul li {
display: inline-block;
font-size: 1.5em;
padding: 15px;
}
.search {
	margin-top: 130px;
}
form {
	width: 270px;
	position: relative;
	float: right;
	right: 40px;
}
form button {
	background: url(../images/search.png) no-repeat 0 0;
	text-indent: -9999px;
	position: absolute;
	width: 19px;
	height: 19px;
	border: 0;
	right: -30px;
	top: 7px;
}
.form-group input {
	border: 1px solid #b05a91;
	color: #b05a91;
	padding: 5px 10px;
	position: absolute;
}
.bast {
	width: 47%;
	float: left;
	margin-top: 230px;
}
.samples h3:nth-child( 1 ) {
	margin-top: 0;
}
.samples {
	width: 47%;
	float: right;
	margin-top: 60px;
}
.sample h3 {
	background: none;
	color:#d169bd;
	font-size: 2em;
}
.sample p {
	display: block;
	color: #989696;
	padding-left: 15px;
}
.gallery {
	width: 25%;
	float: left;
	padding: 1%;
}
.gallery p, .gallery span {
	width: none;
	float: none;
	width: 100%;
	text-align: center;
}
.gallery p {
	font-size: 1.5em;
}
.gallery img {
	width: 100%;
	float: none;
}
.bags {
	width: 67%;
	float: left;
}
.find {
	display: none;
}
.social-media, .social {
	display: block;
}
.social-media div {
	display: inline-block;
	margin-bottom: 10px;
}
.social {
	width: 30%;
	float: right;
}
.social img {
	margin-top: 30px;
}
.bag-1 {
	background: url(../images/bag.jpg) no-repeat;
	background-size: cover;
	margin-top: 30px;
	display: block;
}
.bag img {
	padding-right: 40px;
}
.bag-1 h3 {
	color: #fff;
	padding-top: 30px;
	text-align: center;
}
.bag-1 img {
	width: 10%;
	margin-left: 10px;
}
.btn {
	background: red;
	color: #fff;
	float: right;
	margin-top: 30px;
}
.container:nth-child( 5 ) ul {
	background: #ca4ab2;
	margin-top: 90px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.container:nth-child( 5 ) ul a {
	color: #fff;
	display: block;
	font-size: 1.5em;
	text-decoration: none;
	padding: 23px 15px;
}
.container:nth-child( 6 ) {
	background: #ca4ab2;
	width: 100%;
	margin-top: 150px;
}
.nav-2 {
	color: #fff;
	padding-left: 200px;
}
.footer p {
	margin-top: 25px;
}
.footer img {
	margin-right: 250px;
}
}

@media ( min-width: 1200px ) {

	.container:nth-child( 1 ), 
	.container:nth-child( 2 ),
	.container:nth-child( 3 ), 
	.container:nth-child( 5 ),
	nav .container {
		margin: auto;
		width: 1170px;
	}
}