/**
* Project Name		: SmartGirl
* Date				: 07-May-2015
* Developer			: Euk Thona
* Developer URL		: http://glean.net
*/


@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

body {
	color: #fff;
	font-family: "museo-slab", serif;
	font-size: 14px;
	margin: 0;
}
h1 {
	font-family: "museo-sans-rounded",sans-serif;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
}
h2, h3{
	color: d169bd;
	font-family: "museo-sans-rounded",sans-serif;
}
p {
	font-size: 1.5em;
	text-align: left;
}
img {
	width: 100%;
}
.container:nth-child( 2 ) {
	padding: 0;
	width: 100%;
}
.row {
	padding: 0;
	margin: 0;
}
.container {
	padding: 0 15px;
}
.footer {
	background: #d169bd;
	padding: 0 15px;
}
.logo {
	background: url(../images/mobile1.png) no-repeat;
	background-size: 46px 46px;
	display: block;
	text-decoration: none;
	float: left;
	text-indent: -9999px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	width: 46px;
	height: 46px;
}
.status {
	background: #ccc;
	padding-top: 7px;
	padding-bottom: 7px;
	margin: 0;
}
.status h3 {
	color: black;
	text-align: center;
	margin: 0;
}
nav {
	background: #d169bd;
	box-shadow: 1px 2px 4px #ccc;
	top: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
} 
nav ul {
	background: #b05a91;
	display: none;
	top: 116px;
	padding: 0;
	margin: 0;
	position: absolute;
	list-style: none;
	width: 100%;
}
nav ul a {
	color: #fff;
	display: block;
	font-size: 1.5em;
	text-decoration: none;
	padding: 23px 15px;
}
nav ul a:hover {
	background: #d169bd;
	color: #fff;
}
.menu {
	background: #b05a91;
	border-radius: 4px;
	cursor: pointer;
	position: absolute;
	top: 60px;
	right: 15px;
	width: 40px;
	padding: 10px;
}
.menu span {
	background: #fff;
	display: block;
	margin-bottom: 3px;
	height: 3px;
	width: 18px;
}
.bast {
	background: url(../images/bast.jpg) no-repeat;
	background-size: cover;
	padding: 78px 15px;
	margin-top: 116px;
	text-align: center;
}
.bast h1 {
	padding-bottom: 20px;
}
.btn {
	background: red;
	color: #fff;
	display: block;
	float: right;
	margin-top: 30px;
}
.sample h3 {
	background: red;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 0;
	color: #fff;
	padding-left: 15px;
}
.sample p {
	display: none;
}
.popular {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.item h2 {
	color: black;
}
.item span {
	color: #bab6b9;
}
.bag img {
	margin-top: 15px;
}
.bag p {
	color: black;
	padding-top: 30px;
	margin: 0;
}
.img {
	width: 25%;
	float: left;
	clear: both;
	margin-bottom: 10px;
}
.float {
	float: right;
	width: 70%;
}
.float h3 {
	margin: 0;
	font-size: 1em;
}
.float span {
	color: black;
}
.bag button {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.5em;
	margin-bottom: 30px;
}
.content {
	display: none;
}
.subscribe {
	display: none;
}
form {
	display: none;
}
.facebook {
	background: #ccc;
	padding-top: 10px;
	padding-bottom: 10px;
}
.facebook h3 {
	margin: 0;
	text-align: center;
	color: black;
}
.people img {
	width: 18%;
}
.fb {
	width: 50%;
	padding-top: 20px;
}
.container:nth-child( 7 ), .container:nth-child( 8 ) {
	display: none;
}
.images {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
}
.images img {
	width: 30%;
}
.footer {
	padding-top: 40px;
	padding-bottom: 10px;
}
.footer p {
	float: right;
	display: block;
	padding-top: 5px;
	padding-right: 10px;
	font-size: 0.7em;
}
.footer img {
	width: 20%;
	float: right;
}

@media ( min-width: 768px ) {
	
.bast {
	padding: 215px 15px;
}
.btn {
	margin-top: 150px;
}
.img li img {
	width: 10%;
}
.bag button {
	margin-top: 30px;
	
}
}